body {
    background-image: url('recursos-financieros.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#principal {
    padding-top: 100px;
    position:relative;
    text-align: center;
    color:white;
    font-size: 30px;
}

input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

.container-fluid{
    background-color:whitesmoke;
}
.menu {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(130, 121, 255);
    text-align: center;
    border: 2px solid #ccc;
    margin-top:150px;
}

.tab {
    font-size: 20px;
    padding: 8px;
    color:white;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
  
.function {
    color:black;
    font-size: 18px;
    margin-left: 150px;
    margin-top: 15px;
    position:relative;
}

.boton {
    font-size: 18px;
    margin-left: 150px;
    position:relative;
    margin-top: 30px;
    border-radius: 12px;
    color:white;
    background-color: steelblue;
}
  
.pNormal {
    margin-left: 150px;
    color: black;
    position:relative;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding-left: 70px;
    padding-right: 70px;
}
  
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
  
tr:nth-child(even) {background-color: #f2f2f2;}

.GlobalresultTable {
    padding-left: 150px;
    padding-right: 150px;
}


.check {
    position: relative;
    display: inline-block;
    background-image: url('inter.png');
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    color: #000;
    text-decoration: none;
}
.check:after {
    content: attr(data-tooltip);
    position: absolute;
    top: 0;
    left: 14px;
    width: 100px;
    background-color: #000;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    will-change: opacity;
}
  
.check:hover:after {
    opacity: 1;
    pointer-events: auto;
}

.searchResult{
    background-color: white;
    position:relative;
    text-align: center;
    margin-left:300px;
    margin-right: 250px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:nth-child(even) {background-color: #f2f2f2;}